{% extends "App/padre.html" %}

{% load static %}

{% block title %}
<title>Añadir Informacion</title>
{% endblock %}

{% block titulo %}
<h1 class="mb-5">Informacion Personal!</h1>
{% endblock %}

{% block contenido_que_cambia %}
<div style="text-align: center;">
    <img src="{{ avatar }}" class="rounded-circle mx-auto d-block" alt="..." width="200" height="200">
</div>
<div style="padding: 10px 5px;">
    <form style="padding-left: 33%;" action="{% url 'agregarDescripcion' %}" method="POST"> {% csrf_token %} 
        <table>
            {{ form.as_table }}
        </table>
        <div style="padding-left: 15%;">
            <input class="btn btn-primary btn-xm rounded-pill mt-5" type="submit" value="Agregar">
            <a class="btn btn-primary btn-xm rounded-pill mt-5" href="{% url 'perfil' %}"> Volver </a>
        </div>
    </form>
</div>
{% endblock %}

{% block cambiar_boton_final %}
<section>
    <a class="btn btn-dark btn-xm rounded-pill mt-5" href="http://127.0.0.1:8000/mensajeria/perfil/">Regresar A Perfil</a>
</section>
{% endblock %}