{% extends "App/padre.html" %}

{% load static %}

{% block titulo %}
<h1 class="mb-5">Editando Blog: {{ blog }}</h1>
{% endblock %}


{% block contenido_que_cambia %}
<body>
    {% for p in perfil %}
        <li>{{p}}</li>  
        <button>
            <a href="{% url 'eliminarInformacion' p.id %}" enctype="multipart/form-data"> Eliminar</a>
        </button>
    {% endfor %}
    <br>
</body>
{% endblock %}


{% block cambiar_boton_final %}
<section>
    <a class="btn btn-dark" href="#">Volver Para Arriba</a>

    
</section>
{% endblock %}