{% extends "App/padre.html" %}

{% load static %}

{% block title %}
<title>Perfil</title>
{% endblock %}

{% block titulo %}
<h1 class="mb-5">Seccion Perfil</h1>
{% endblock %}

{% block subtitulo %}
<h3>{{ mensaje }}</h3>
{% endblock %}

{% block contenido_que_cambia %}
<ul>
    <br>
    <h1>Informacion Personal</h1>
    <hr>
    <a class="btn btn-dark btn-xm rounded-pill" href="{% url 'editarPerfil'  %}">Editar Datos De Inicio De Sesion</a>
    <a class="btn btn-dark btn-xm rounded-pill" href="{% url 'agregarAvatar'  %}">Agregar/Modificar Avatar</a>
    <a class="btn btn-dark btn-xm rounded-pill" href="{% url 'agregarDescripcion'  %}">Agregar Descripcion</a>
    <a class="btn btn-dark btn-xm rounded-pill" href="{% url 'agregarUrl'  %}">Agregar Url</a>
    <hr>
    <br>
    <div style="text-align: center; padding-top: 10px;"> 
        <img src="{{ avatar }}" class="rounded-circle mx-auto d-block" alt="..." width="200" height="200"> 
    </div>
    <div>
        <div style="padding-left: 10%;">
            <ul style="padding-left: 10;">
                <li> {{ user.username }} </li>
                <li> {{ user.first_name }} </li>
                <li> {{ user.last_name }} </li>
                <li> {{ user.email }} </li>
                <li> {{ descripcion }} </li>
                <li> {{ url }} </li>
            </ul>
        </div>
    </div>
</ul>
{% endblock %}

{% block cambiar_boton_final %}

{% endblock %}