{% extends "App/padre.html" %}

{% load static %}

{% block title %}
<title>Mensajeria</title>
{% endblock %}

{% block titulo %}
<h1 class="mb-5">Seccion Mensajes</h1>
{% endblock %}

{% block subtitulo %}

{% endblock %}


{% block contenido_que_cambia %}
<br>
    <div style="text-align: center;">
        <h5>
            {{mensaje.usuario}}
        </h5>
    </div>
<br>
    <div style="text-align: center; ">
        <p style="border: solid 1px; padding: 10px 5px ; width: 50%; display: inline-block; ">
            {{ mensaje.mensaje }}
        </p>
    </div>
    <div style="text-align: center;">
        <br>
        <a class="btn btn-primary btn-xm rounded-pill mt-5-1" href="{% url 'responderMsj' mensaje.id %}"> Responder </a>
        <a class="btn btn-primary btn-xm rounded-pill mt-5-1" href="{% url 'eliminarMsj' mensaje.id %}"> Eliminar </a>
        <a class="btn btn-primary btn-xm rounded-pill mt-5-1" href="{% url 'buzonMsj' %}"> Volver </a>
    </div>
<br>
<br>
{% endblock %}


{% block cambiar_boton_final %}

{% endblock %}