{% extends "App/padre.html" %}

{% load static %}

{% block title %}
<title>Acerca de Mi</title>
{% endblock %}

{% block subtitulo %}
<h3>Informacion Personal</h3>
{% endblock %}

{% block titulo %}
<h1 class="mb-5">Acerca de Mi</h1>
{% endblock %}


{% block contenido_que_cambia %}
        <section class="testimonials text-center bg-light">
            <div class="container">
                <h2 class="mb-5">Un poco sobre mi y mi proyecto</h2>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded-circle mb-3" src="{% static 'App/assets/img/soyyo.png' %}"" alt="..." />
                            <h5>Agustin Alvarez</h5>
                            <p class="font-weight-light mb-0">"Mi nombre es Agustin, tengo 19 años y este es mi primer encuentro con lo que la programacion se refiere "</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded-circle mb-3" src="{% static 'App/assets/img/proyecto.jfif' %}" alt="..." />
                            <h5>Mi Proyecto</h5>
                            <p class="font-weight-light mb-0">"Lo que busque hacer fue en base al prototipo armar otro con las mismas bases y sumarle todo lo que pude, en algunos aspectos me quede corto pero creo que va a quedar genial cuando lo intente volver a hacer."</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded-circle mb-3" src="{% static 'App/assets/img/continuacion.jfif' %}" alt="..." />
                            <h5>Continuacion</h5>
                            <p class="font-weight-light mb-0">"Di mi mayor esfuerzo, me falta mucho por terminar de aprender de lo visto y planeo poder volver a empezarlo con una base mejorada"</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}
