{% extends "App/padre.html" %}

{% load static %}

{% block title %}
<title>Busqueda</title>
{% endblock %}

{% block titulo %}
<h1 class="mb-5">Buscar Blogs</h1>
{% endblock %}


{% block contenido_que_cambia %}

<h3>{{ mensaje }}</h3>

<form action="{% url 'buscar' %}" method="GET">

    <input type=""number" name="titulo" id="titulo" placeholder="Ingrese Titulo">

    <input type="submit" value="Buscar">
    

</form>

{% endblock %}


{% block cambiar_boton_final %}
<section>
    <a class="btn btn-dark" href="#">Volver Para Arriba</a>

    
</section>
{% endblock %}