{% extends "App/padre.html" %}

{% load static %}

{% block title %}
    <title>Contacto</title>
{% endblock %}

{% block titulo %}
<h1 class="mb-5">Contacto</h1>
{% endblock %}

{% block subtitulo %}
<h3>Tienes alguna duda? Contactame!</h3>
<body>
    <footer>
        <section>
            <a class="btn btn-dark" href="mailto:lukee1708@outlook.com">Correo Electronico</a> 
            <a class="btn btn-dark" target="_blank" href="https://github.com/AgustinAlvarez04">GitHub</a>
            <a class="btn btn-dark" target="_blank" href="https://www.facebook.com/profile.php?id=100026012315388">Facebook</a>
            <a class="btn btn-dark" target="_blank" href="https://twitter.com/?lang=es">Twitter</a> 
        </section>
    </footer>
</body>
</html>
{% endblock %}


{% block contenido_que_cambia %}

{% endblock %}