{% extends "App/padre.html" %}

{% load static %}

{% block title %}
<title>Crear Blog</title>
{% endblock %}

{% block titulo %}
<h1 class="mb-5">Postea tu Articulo!</h1>
{% endblock %}

{% block contenido_que_cambia %}
<article>
    <ul>
        <h3>{{ mensaje }}</h3>
        <form action="{% url 'crearBlog' %}" method="POST" enctype="multipart/form-data"> {% csrf_token %}
            <table>
                {{ form.as_table }}
             </table>
            <input type="submit" value="Subir Post">
        </form>
    </ul>
</article>
{% endblock %}

{% block cambiar_boton_final %}
<section>
    <a class="btn btn-dark" href="#">Volver Para Arriba</a>
</section>
{% endblock %}