{% extends "App/padre.html" %}

{% load static %}

{% block title %}
<title>Editando Perfil..</title>
{% endblock %}

{% block titulo %}
<h1 class="mb-5">Editar Perfil: {{ nombreusuario }}</h1>
{% endblock %}


{% block contenido_que_cambia %}
<h3>{{ mensaje }}</h3>

<img src="{{ avatar }}" alt="">
<form action="{% url 'editarPerfil' %}" method="POST" enctype="multipart/form-data"> {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>

    <input type="submit" value="Guardar Cambios">

</form>

{% endblock %}

{% block cambiar_boton_final %}
<section>
    <a class="btn btn-dark btn-xm rounded-pill" href="http://127.0.0.1:8000/perfil/">Volver A Perfil</a>
</section>
{% endblock %}