{% extends "App/padre.html" %}

{% load static %}

{% block titulo %}
<h1 class="mb-5">HOME</h1>
{% endblock %}

{% block subtitulo %}
<h3>Breve vistaso a lo que encontraras por aqui</h3>
{{ mensaje }}
{% endblock %}

{% block contenido_que_cambia %}
        <section class="showcase">
            <div class="container-fluid p-0">
        <section class="testimonials text-center bg-light">
                <div class="row g-0">
                    <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('static/App/assets/img/ariticulo1.jpg')"></div>
                        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                            <h2>Un poco de interaccion</h2>
                            <p class="lead mb-0">En esta web podras crear, subir, editar, y manipular tus propios post!</p>
                        </div>
                    </div>
                </div>
                <div class="row g-0">
                    <div class="col-lg-6 text-white showcase-img" style="background-image: url('static/App/assets/img/articulo2.jpg')"></div>
                    <div class="col-lg-6 my-auto showcase-text">
                        <h2>Nuestro medio ambiente</h2>
                        <p class="lead mb-0">En esta web encontras articulos interesantes sobre el medio ambiente y algunas de las consecuencias que puede llegar a sufrir</p>
                    </div>
                </div>
                <div class="row g-0">
                    <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('static/App/assets/img/articulo3.jpg')"></div>
                    <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                        <h2>¿Quien soy?</h2>
                        <p class="lead mb-0">Tambien hay un apartado en el cual hablo sobre mi proyecto y un poco de mi!</p>
                    </div>
                </div>
            </div>
        </section>
 
{% endblock %}

{% block cambiar_boton_final %}
    <section>
        <a class="btn btn-dark btn-xm rounded-pill" href="#">Volver Para Arriba</a>
    </section>
{% endblock %}