{% extends "App/padre.html" %}

{% load static %}

{% block title %}
<title>Login</title>
{% endblock %}

{% block titulo %}
<h1 class="mb-5">Ingrese sus datos</h1>
{% endblock %}
{{ mensaje }}
{{ mensaje2 }}

{% block contenido_que_cambia %}

<h3>{{ mensaje }}</h3>

<form action="{% url 'login' %}" method="POST"> {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>

    <input type="submit" value="Ingresar">

</form>

{% endblock %}


{% block cambiar_boton_final %}

{% endblock %}