{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        {% block title %}
        <title>Home</title>
        {% endblock %}
        <link href="{% static 'App/css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <nav class="navbar navbar-light bg-light static-top">
            <div class="container">
                <a class="navbar-brand" href="{% url 'Inicio' %}">Inicio</a>
                {% if user.is_authenticated %}
                <a class="btn btn-primary" href="{% url 'About' %}">Acerca de Mi</a>
                <a class="btn btn-primary" href="{% url 'Contact' %}">Contacto</a>
                <a class="btn btn-primary" href="{% url 'Pages' %}">Blogs</a>
                <a class="btn btn-dark" >Buenvenido: {{ user.username }}</a>
                <a class="btn btn-danger" href="{% url 'logout' %}">Cerar sesion</a>
                <a class="btn btn-success" href="{% url 'editarPerfil' %}">Perfil</a>
                {% else %}
                <a class="btn btn-primary" href="{% url 'register' %}">Registrar</a>
                <a class="btn btn-primary" href="{% url 'login' %}">Ingresar</a>
                {% endif %}
            </div>
        </nav>

        <header class="masthead">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <div class="text-center text-white">
                    
                            
                            {% block titulo %}

                            {% endblock %}
                            
                            {% block subtitulo %}
                            
                            {% endblock %}
                        
                        </div>
                    </div>
                </div>
            </div>
        </header>

        {% block contenido_que_cambia %}



        {% endblock %}
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <section>
            <a class="btn btn-dark" href="#">Volver Para Arriba</a>

            
        </section>

    </body>
</html>