{% extends "App/padre.html" %}

{% load static %}

{% block title %}
<title>Blogs</title>
{% endblock %}

{% block titulo %}
<h1 class="mb-5">Blogs</h1>
{% endblock %}

{% block subtitulo %}
<h3>Crea, reorganiza o elimina tus posts!</h3>
{% endblock %}


{% block contenido_que_cambia %}
<body>
    <header>
        <h1>Presentacion de Articulos</h1>
        <br>

    </header>
    <section class="container">
        <article class="post">
            <h2>El año 2019 marca nuevos récords de calor, retroceso de los hielos y subida del nivel del mar</h2>
            <p>El año 2019 cierra una década de valores excepcionales de calor y fenómenos meteorológicos de efectos devastadores a escala mundial, alerta la Organización Meteorológica Mundial</p>
            <img src="{% static 'App/assets/img/post1.jpg' %}" width="700"/>
            <p>Las concentraciones de dióxido de carbono en la atmósfera alcanzaron un nuevo máximo histórico de 407,8 partes por millón en 2018, y en 2019 no dejaron de aumentar...</p>
            <a target="_blank" class="btn btn-info" href="http://127.0.0.1:8000/blogs/#">Leer Mas</a>
        </article>
        <br>
        <br>
        <br>
        <br>
        <article class="post">
            <h2>Aumentan las señales y consecuencias del cambio climático</h2>
            <p>Diversos organismos destacan en un informe las crecientes señales y consecuencias del cambio climático en la atmósfera, la tierra y los océanos</p>
            <img src="{% static 'App/assets/img/post2.jpg' %}" width="700"/>
            <p>En un nuevo informe compilado por la Organización Meteorológica Mundial (OMM) y una amplia red de asociados se hace hincapié en las señales físicas que nos alertan del cambio climático, como el aumento del contenido calorífico de los océanos y de la tierra, la aceleración de la subida del nivel del mar y la fusión de los hielos...</p>
            <a target="_blank" class="btn btn-info" href="http://127.0.0.1:8000/blogs/#">Leer Mas</a>
        </article>
        <br>
        <br>
        <br>
        <br>
        <article class="post">
            <h2>El impacto del COVID-19 será temporal, el del cambio climático será masivo</h2>
            <p>En 2019, se alcanzó un nivel récord en el nivel del mar y en olas de calor con consecuencias trágicas para la biodiversidad</p>
            <img src="{% static 'App/assets/img/post3.jpg' %}" width="700"/>
            <p>En 2019, el calentamiento global tuvo consecuencias sobre la salud, la comida y el hogar de millones de personas en el mundo. Además, puso en riesgo la vida marina y una gran cantidad de ecosistemas, asegura el informe sobre el Estado del Clima Mundial...</p>
            <a target="_blank" class="btn btn-info" href="http://127.0.0.1:8000/blogs/#">Leer Mas</a>
        </article>
        <br>
        <br>
        <br>
        <br>
        
    </section>
</body>
</html>

{% endblock %}
