<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <header>
        <h1 id="Titulo">Blog de Agustin</h1>
    </header>
    <div>
        <p>soy un parrafo dentro de un div</p>
    </div>
    <section>
        <article class="post">
            <h2>Titulo de mi post</h2>
            <p>Descripcion de mi post</p>
            <img src="images.png" width="100"/>
            <p>Texto del articulo que hay aca y es texto de prueba</p>
        </article>
        <article class="post">
            <h2>Titulo de mi post 2</h2>
            <p>Descripcion de mi post 2 </p>
            <img src="descarga.png" width="100"/>
            <p>Texto del articulo que hay aca y es texto de prueba</p>
        </article>
        <article class="post">
            <h2>Titulo de mi post 3</h2>
            <p>Descripcion de mi post 3</p>
            <img src="homero.png" width="100"/>
            <p>Texto del articulo que hay aca y es texto de prueba</p>
        </article>
    </section>
    <footer>
        <a href="#Titulo">Volver al comienzo</a>
        <a href="mailto:lukee1708@outlook.com">Contacta conmigo por aqui</a>
        
    
    
    
    </footer>
</body>
</html>