{% extends "App/padre.html" %}

{% load static %}

{% block title %}
<title>Perfil</title>
{% endblock %}

{% block titulo %}
<h1 class="mb-5">Seccion Perfil</h1>
{% endblock %}

{% block subtitulo %}
<h3>{{ mensaje }}</h3>
{% endblock %}


{% block contenido_que_cambia %}

<ul>
    <h1>Informacion Personal</h1>
    <a class="btn btn-primary" href="{% url 'crearPerfil' %}">Agregar Mas Informacion Personal</a>
    <a class="btn btn-primary" href="{% url 'editarPerfil'  %}">Editar Datos De Inicio De Sesion</a>
    <a class="btn btn-primary" href="{% url 'agregarAvatar'  %}">Agregar Avatar</a>
</ul> 
<form action="{% url 'perfil' %}" method="POST" enctype="multipart/form-data"> {% csrf_token %}
    
</form>
{% endblock %}


{% block cambiar_boton_final %}
<section>
    <a class="btn btn-dark" href="http://127.0.0.1:8000/">Regresar Al Home</a>
</section>
{% endblock %}